* {
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

canvas {
    width: 100%;
    height: auto;
    max-width: 1024px;
    max-height: 576px;
}

/* .game-container {
    position: relative;
    display: inline-block;
} */
